/* =============================
CONFIGURAÇÕES GERAIS E FONTES 
============================= */

@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-stone-100: #f3e5d7;
  --color-stone-150: #e3ddd7;
  --color-stone-600: #5f564d;
  --color-stone-900: #312e2c;

  --color-brown-800: #854632;
  --color-rose-50: #fff7fb;
  --color-rose-800: #7a284e;

  --font-family-title: "Young Serif", serif;
  --font-family-body: "Outfit", sans-serif;

  --font-size-xl: 40px; /* Text Preset 1 (Títulos Principais) */
  --font-size-lg: 28px; /* Text Preset 2 (Títulos de Seções) */
  --font-size-md: 20px; /* Text Preset 3 (Subtítulos / Caixas de Destaque) */
  --font-size-base: 16px; /* Text Preset 4 (Texto Corrido / Body) */

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============================
ESTRUTURA E CORPO (LAYOUT BASE)
============================= */

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  background-color: var(--color-stone-100); /* fundo do desktop */
  color: var(--color-stone-600);
}

.recipe-card {
  background-color: var(--color-white);
  width: 100%;
}

/* =============================
LINHA DIVISÓRIA
============================= */

hr {
  border: none;
  height: 1px;
  background-color: var(--color-stone-150);
  margin: 0 var(--spacing-400) var(--spacing-400);
}

/* =============================
COMPONENTES (SEÇÃO E TÍTULO)
============================= */

.recipe-section {
  margin-inline: var(--spacing-400);
  margin-bottom: var(--spacing-400);
}

.recipe-section h2 {
  margin-bottom: var(--spacing-300);
}

h2 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  line-height: 1;
  color: var(--color-brown-800);
}

ul {
  padding-left: var(--spacing-200);
}

li {
  margin-bottom: var(--spacing-100);
  padding-left: var(--spacing-200);
}

li::marker {
  color: var(--color-brown-800);
  font-size: 12px;
}

/* remove a margem do último item para não sobrar espaço */
li:last-child {
  margin-bottom: 0;
}

/* =============================
HEADER (TÍTULO E INTRODUÇÃO)
============================= */

header {
  margin-bottom: var(--spacing-400);
}

header img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: var(--spacing-500);
}

header h1,
header p {
  margin-inline: var(--spacing-400);
}

header h1 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-regular);
  font-size: 36px; /* fonte-size para o mobile */
  line-height: 1;
  color: var(--color-stone-900);
  margin-bottom: var(--spacing-300);
}

header p {
  line-height: 1.5;
}

/* =============================
SEÇÃO: PREPARATION TIME
============================= */

.prep-time-box {
  background-color: var(--color-rose-50);
  border-radius: 12px;
  padding: 24px;
  margin: 0 var(--spacing-400) var(--spacing-400);
}

.prep-time-box h2 {
  font-family: inherit;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  color: var(--color-rose-800);
  margin-bottom: var(--spacing-200);
}

.prep-time-box ul {
  padding-left: var(--spacing-300);
}

.prep-time-box li::marker {
  color: var(--color-rose-800);
}

/* =============================
SEÇÃO: INSTRUCTIONS
============================= */

.recipe-section ol {
  padding-left: var(--spacing-200);
}

.recipe-section li::marker {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
}
